*{
  margin: 0%;
  padding: 0%;
}

body{
  background: linear-gradient(135deg, #023e8a, #ade8f4);
  background-repeat: no-repeat;
  background-size: cover;   
}

.heading{
  color: #f8edeb;
  padding-bottom: 20px;
}

.box{
  width: 80%;
  max-width: 470px;
  background: linear-gradient(135deg, #0096c7, #90e0ef);
  text-align: center;
  color: #e0e1dd;
  margin: 23.5px auto 12px;
  border-radius: 20px;
  padding: 30px 30px;
  align-items: center;
}

.search{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input{
border:0;
outline: 0;
background: #f8edeb;
color: #000814;
padding: 10px 20px;
height: 40px;
border-radius: 30px;
flex: 1;
margin-right: 16px;
font-size: 18px;
}

.search button{
border:0;
outline: 0;
background: #f8edeb;
border-radius: 30px;
height: 60px;
width: 60px;
cursor: pointer;
}

.search button img{
  width: 16px;
}

.weather-icon{
  width: 130px;
  margin-top: 25px;
}

.weather h1{
  font-size: 60px;
  font-weight: 500;
}

.weather h2{
  font-size: 35px;
  font-weight: 400;
  margin-top: -10px;
}

.data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 50px;
  color: #99582a;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}
  
.humidity , .wind{
  font-size: 28px;
  margin-top: -6px ;
}

.weather{
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: #d90429;
  display: none;
  margin-bottom: 0px;
}